<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 40rem;
    }

    .name {
        text-align: center;
        color: green;
    }
</style>

<div class="row d-flex align-items-start" style="background-color:darkslategrey;text-align:center;color:white">
    <div class="col-2 mt-2">
        <h2> <i class="bi bi-sun-fill"></i> SolarSoft</h2>
    </div>
    <div class="col-sm-1">
        <div class="dropdown mt-2">
            <a class="btn dropdown-toggle"
            style="background-color:dimgrey;color:white;margin-left:-10px"
               href="#"
               role="button"
               id="dropdownNuevoComponente"
               data-bs-toggle="dropdown"
               aria-expanded="false"
            >
                Nuevo componente
            </a>

            <ul class="dropdown-menu" style="margin-top:36px;margin-bottom:36px" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/NuevoPanel">Nuevo Panel</a></li>
                <li><a class="dropdown-item" href="/NuevaBateria">Nueva Batería</a></li>
                <li><a class="dropdown-item" href="/NuevoInversor">Nuevo Inversor</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2"style="align-content:flex-end">
        <div class="dropdown mt-2" style="margin-left:5em;margin-top:8em;margin-bottom:12px">
            <a class="btn dropdown-toggle"
               style="background-color:dimgrey;color:white"
               href="#"
               role="button"
               id="dropdownInstalacion"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                Nueva Instalación
            </a>

            <ul class="dropdown-menu" style="margin-top:36px" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/">Introducir Manualmente</a></li>
                <li><a class="dropdown-item" href="/Mapa">Mapa</a></li>
            </ul>
        </div>
    </div>


</div>
<script>
    $(document).ready(function () {
        $('.dropdown').hover(function () {
            $(this).addClass('show');
            $(this).find('.dropdown-menu').addClass('show');
        }, function () {
            $(this).removeClass('show');
            $(this).find('.dropdown-menu').removeClass('show');
        });
    });
</script>
